/* GENERAL */
*,
.row,
.container-fluid,
*[class^="col-"],
.panel-body {
	margin: 0px;
	padding: 0px;
}

/* Contenu principal, aperçu et images */
.contents .panel-body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
}

.contents .panel-default {
	border: 8px solid whitesmoke;
	border-radius: 0;
}

.slider {
	overflow: none;
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 300px;
}

.images-slide {
	height: 180px;
	width: 140px;
	float: left;
	text-align: left;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 5px;
}

.images-slide div:nth-child(2) {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: whitesmoke;
	padding: 2.5px;
	text-align: center;
}

.images-slide div:nth-child(3) {
	width: 100%;
	background-color: whitesmoke;
	text-align: center;
	padding: 2.5px;
	position: absolute;
	bottom: 0;
}

/* TABLEAU */
table {
	float: left;
}

thead th {
	height: 140px;
	background-color: whitesmoke;
	padding: 20px;
}

tbody tr td:last-child {
	background-color: lightgrey;
	width: 140px;
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

tbody tr {
	float: left;
}

/* FORMULAIRE BUDJET */
.panneau-budget {
	margin: 50px auto;
	width: 70%;
}

.form {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}

/* FOOTER */
.panel-footer {
	text-align: center;
}